{% if tags %}
    <div class="tag-row">
      {% for tag in tags %}
        <a class="tag-chip" href="/#tag-{{ tag | slugify }}" data-tag="{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </div>
    {% endif %}
